@import url('https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap');

/* Généralités */
* {
  box-sizing: border-box;
}

:root {
  --background-el: hsl(0, 0%, 100%);
  --body: hsl(0, 0%, 98%);
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

body {
  font-family: 'Nanito sans', sans-serif;
  color: hsl(200, 15%, 8%);
  background-color: var(--body);
  margin: 0;
}

body.dark {
  color: hsl(0, 0%, 100%);
  --body: hsl(207, 26%, 17%);
  --background-el: hsl(209, 23%, 22%);
}

img {
  max-width: 100%;
}

.container {
  max-width: 1550px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 30px;
  position: relative;
  margin: auto;
}
